body{
    background-image: url('/WEB1042_JavaScript_ThatVVPH22358_Assigment/image/backgroup.jpg');
    background-repeat: repeat-y;
    background-size: 100% auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table{
    width: 1000px;
    text-align: center;
    color: white;
    font-size: 24px;
}
table{
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid white;
}
select{
    width:300px;
    height: 40px;
    font-size: 20px;
    outline: none;
    background:none;
    border: none;
    color: #fff;
}
option{
    color: #000;
}
table input[type="number"]{
    background: none;
    outline: none;
    border:none;
    font-size: 24px;
    color: #fff;
    
}
